{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styl2.css' %}">
</head>
<body>
    <div id="main">
        <header>Biblioteka Gier</header>
        <nav>
            <br>
            <a href="/" class="a1">Strona Główna</a><br><br>
            <a href="/pokaz_rekordy/" class="a1">Gry</a><br><br>
            <a href="/pokaz_adres/" class="a1">Adresy</a><br><br>
            <a href="/pokaz_wydawca/" class="a1">Wydawcy</a><br><br>
            <a href="/pokaz_producent/" class="a1">Producenci</a><br><br>
            <a href="/pokaz_gatunek" class="a1">Gatunki</a><br><br>
            <a href="/pokaz_gra_gatunek/" class="a1">Gatunki Gier</a><br><br>
            <a href="/pokaz_polka/" class="a1">Półki</a><br><br>
            <a href="/pokaz_gra_polka/" class="a1">Zawartość Półek</a>
        </nav>
        <section>
            <h1>Gatunki</b><a href="/nowy_gatunek/"><button class="button3">Dodaj Gatunek</button></a></h1>
            <br>
            {% for gatunek in all_genres %}
                <p>{{ gatunek.nazwa }}
                <a href="{% url 'link_usuniecie5' gatunek.id %}"><button class="button2">Usuń</button></a>
                <a href="{% url 'link_edycja5' gatunek.id %}"><button class="button1">Edytuj</button></a></p>
                <hr>
                {% endfor %}
        </section>
        <footer>Błażej Szwichtenberg | 2022</footer>
    </div>
</body>
</html>